---
import Header from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>OM OS</title>
  </head>
  <body>
    <Header />
    <section class="header">
    <img src="#" />
      <img src="#" />
      <p>Landsforeningen Liv&Død arbejder for at starte den gode samtale og nedbryde tabuet om døden.</p>
    </section>

    <section class="team-info">
      <h2>Mød vores medarbejdere!</h2>
      <div>
        <p>Vibeke Sonntag Larsen</p>
<!-- billede af vibeke -->
        <p>Sekretariatschef</p>
        <p>vsl@livogdoed.dk</p>
        <p>2533 3625</p>
      </div>
     
      <div>
        <p>Nanna De Hemmer Widding</p>
<!-- billede af vibeke -->
        <p>Kultur- og udviklingskonsulent</p>
        <p>nhw@livogdoed.dk</p>
        <p>23336 4978</p>
      </div>
       
      <div>
        <p>Eva Gerlif Myrtue</p>
<!-- billede af vibeke -->
        <p>Kommunikations- og udviklingskonsulent</p>
        <p>emy@livogdoed.dk</p>
        <p>3336 4982</p>
      </div>
    </section>
    <section class="info">
        <div class="info-1">
            <h3>Vores historie</h3>
            <p>Landsforeningen Liv&Død har en lang historie.
               Oprindeligt blev foreningen stiftet som Dansk Ligbrændingsforening i 1881.</p>
            <p>Formålet var at kæmpe for at få ligbrænding lovliggjort, hvilket lykkedes.</p>
            <p>I år 2001 skiftede Dansk Ligbrændingsforening navn til Landsforeningen Liv&Død og fik et nyt formål: At nedbryde tabuet om døden og sikre en værdig afsked med livet.</p>
        </div>

        <div class="info-2">
        <h3>Som forening arbejder vi for at:</h3>
        <p>Give mennesker mulighed for at træffe beslutninger om døden og den sidste tid på et oplyst grundlag samt at starte den gode samtale om døden og en værdig afsked. Dette gør vi blandt andet ved at facilitere samtaler om døden både på uddannelsesniveau og i den brede befolkning gennem oplysningsarbejde.</p>
        </div>
        <div class="info-3"">
            <p>Derudover oplyser vi om praktiske forhold i forbindelse med dødsfald og afholder udstillinger og arrangementer, som sætter fokus på døden i et personligt, kulturhistorisk og kunstnerisk perspektiv.</p>
        </div>
    </section>
    <Footer />
  </body>
</html>
