---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import EventCard from "../components/EventCard.astro";
import "../style/kalender.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kalender</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@400;600&family=Raleway:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Nav />
    <main>
      <section class="hero">
        <img src="/pictures/forside-billede.svg" alt="hero" />
      </section>

      <section class="intro">
        <div class="intro-text">
          <h2>Hvad er der i kalenderen?</h2>
          <p>
            Vi tilbyder masse forskellige events i løbet af hele uge 44. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Minus sequi nemo
            ut impedit veritatis totam voluptas, adipisci provident non
            voluptates vero quaerat aspernatur animi earum nulla accusantium,
            beatae, distinctio repellat. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Dicta expedita ratione ipsa neque, aperiam nostrum
            excepturi architecto mollitia voluptatum, quaerat nam, iste
            laboriosam soluta dignissimos. Voluptatibus quis blanditiis deleniti
            cumque?
          </p>
          <a href="/aboutus" class="btn-outline">Læs mere om os</a>
        </div>
        <div class="intro-calendar">
          <!-- kalender -->
          <img src="/pictures/kalender-filter.svg" class="filter" alt="hero" />
        </div>
      </section>

      <section class="upcoming">
        <h2 class="h2-hero">Kommende events</h2>
        <div class="cards">
          <EventCard title="Book club" image="/pictures/bogklub.svg" />
          <EventCard title="Løbe Klubb" image="/pictures/løbeklub.svg" />
          <EventCard title="Lanterne aften" image="pictures/lanterne.svg" />
        </div>
      </section>
      <!-- LYSLØB -->
      <section class="event-section">
        <img src="/pictures/blob-en.svg" class="blob" alt="" />
        <div class="event-text">
          <h2>Lysløb</h2>
          <h3>Hvad er det?</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
            atque sequi fugiat harum officiis quasi eos id, repellendus
            similique vel ullam delectus natus enim nam deserunt autem ad.
            Numquam, non? Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ab dignissimos sed odit qui sint perspiciatis, corporis
            reiciendis earum enim placeat nemo minima laudantium libero
            praesentium sapiente fugiat voluptas quasi necessitatibus!
          </p>
        </div>
        <div class="event-image">
          <img src="/pictures/løbeklub.svg" alt="lysløb" />
          <button class="btn-outline">Tilmeld dig her</button>
        </div>
      </section>

      <section class="event-section reverse">
        <img src="/pictures/blob-en.svg" class="blob" alt="" />
        <div class="event-text">
          <h2>Lanterne aften</h2>
          <h3>Hvad er det?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ea
            laboriosam aliquid dolorem eaque vel iste? Fugiat veniam accusamus
            tempore nostrum asperiores neque ipsum quibusdam possimus,
            voluptatem est modi pariatur! Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Sit, reprehenderit odio natus iste
            ipsum perferendis fuga est quisquam dolores nisi perspiciatis
            voluptate ipsa. Voluptas ipsam inventore, tempore impedit asperiores
            dolor!
          </p>
        </div>
        <div class="event-image">
          <img src="/pictures/lanterne.svg" alt="lanterne" />
          <button class="btn-outline">Tilmeld dig her</button>
        </div>
      </section>

      <section class="event-section">
        <img src="/pictures/blob-en.svg" class="blob" alt="" />

        <div class="event-text">
          <h2>Bog klubb</h2>
          <h3>Hvad er det?</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi
            distinctio ratione sint consequuntur natus quis inventore! Obcaecati
            laborum ducimus vel, ipsa nihil, aliquid quis, aperiam nemo
            doloremque perspiciatis eos qui. Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Modi commodi porro molestiae similique
            quas nostrum minus cum est, aliquid minima recusandae ad illum
            voluptatibus, suscipit delectus praesentium, quis enim non.
          </p>
        </div>
        <div class="event-image">
          <img src="/pictures/bogklub.svg" alt="bogklub" />
          <button class="btn-outline">Tilmeld dig her</button>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
