---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Statistic</title>
  </head>
  <body>
    <header></header>
    <main>
      <section>
        <h1>Statistic-side</h1>
        <h2>
          Oplevelser med at tale om eller dele dine tanker og følelser om døden?
        </h2>
        <h3>Tanker om Døden</h3>
        <p>
          Nye tal viser, at flertallet af danskere faktisk kan tale om døden –
          men at det for mange stadig kræver noget at åbne munden. Kun ca. hver
          femte oplever, at det i høj grad er svært at tale om døden eller dele
          tanker og følelser herom med andre. Og kun 15% siger, at det slet ikke
          er svært. Det betyder, at over halvdelen af os befinder os et sted i
          midten – vi kan godt, men det koster lidt.
        </p>
        <p>
          Og der er forskel på kønnene: Dobbelt så mange kvinder som mænd siger,
          at det er meget svært at tale om døden, mens mænd til gengæld oftere
          mener, at det er mindre svært. Det er præcis den samtale, Foreningen
          Liv & Død vil være med til at løfte. For selvom mange af os godt kan
          tale om døden, er der stadig brug for et rum, hvor vi ikke behøver at
          kæmpe os derhen – hvor det bare er naturligt. Gennem den landsdækkende
          kampagne Uge 44 – Fokus på Døden samler vi mennesker på tværs af
          kultur, sundhed og læring for at udforske, hvad det vil sige at leve
          med – og tale om – døden. For når vi skaber plads til de svære
          samtaler, bliver vi bedre rustet til livets mest meningsfulde
          øjeblikke – sammen.
        </p>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
