body {
  margin: 0;
}

h1,
h2 {
  font-size: 28px;
  font-family: "Italiana", serif;
  color: #977851;
}

h3 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #977851;
}

p,
a {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: linear-gradient(101deg, #fffdf8 0%, #fffdf8 40.19%, #fbfbe7 79.62%, #fbfbe7 100%);
}

.venstre-side {
  /* width: 100%;
  margin: 0;
  padding: 0 1em; */
  max-width: 50%;
  margin-left: 3em;
  margin-bottom: 2em;
}

.timeglas {
  /* width: 80%;
  display: block;
  margin: 0 auto; */
  width: 70%;
  margin: 0;
}

.header-text {
  /* font-size: 16px;
  width: 100%;
  margin: 1em 0 0 0; */
  font-size: 17px;
  width: 300px;
  margin-top: -2em;
  font-family: "Raleway", sans-serif;
}

.liljer-position {
  width: 100%;
  margin-top: 1.5em;
}

.liljer {
  width: 100%;
  height: auto;
  display: block;
}

.team-info {
  padding: 2em 1.5em;
  text-align: center;
  background-color: #fffdf8;
  border-top: 1.5px solid #977851;
  border-bottom: 1.5px solid #977851;
}

.timeglas-deko {
  display: none;
}
.team-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
}
.team-info h2 {
  color: #977851;
  font-weight: bold;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  width: 100%;
}
.team-member p,
a {
  line-height: 15px;
  text-decoration: none;
}
.team-member a {
  color: black;
}
.titel {
  color: #977851;
}
.navn {
  font-size: 18px;
}
.portræt {
  width: 60%;
  max-width: 220px;
  height: auto;
}

.billede-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  width: 100%;
}
.timeglas-venstre-mobil,
.timeglas-højre-mobil {
  width: 120px;
  max-width: 120px;
  height: auto;
  flex-shrink: 0;
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2em 1.5em;
  gap: 1.5em;
  background-color: #fffdf8;
  overflow: hidden;
  border-bottom: 1.5px solid #977851;
}
.textboks {
  z-index: 5;
}
.shape-venstre {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
.shape-højre {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
.info-1 {
  line-height: 24px;
  width: 400px;
}
.info-2 {
  line-height: 24px;
  width: 450px;
  justify-self: center;
}
.info-3 {
  line-height: 24px;
  width: 450px;
  justify-self: end;
}
/* tablets eller letter større skærme (800px+) */
@media (min-width: 800px) {
  .header {
    flex-direction: row;
    align-items: center;
    padding: 0 40px;
  }

  .venstre-side {
    max-width: 50%;
    margin-left: 3em;
    margin-bottom: 2em;
  }
  .timeglas {
    width: 70%;
    margin: 0;
  }

  .header-text {
    font-size: 17px;
    width: 340px;
    margin-top: -1em;
  }

  .liljer {
    width: 100%;
    justify-self: center;
  }
}

/* DESKTOP større end (1024px+) */
@media (min-width: 1024px) {
  .header {
    padding: 0 60px;
    min-height: 50%;
  }
  .timeglas {
    width: 70%;
  }
  .liljer {
    width: 65%;
  }
  .venstre-side {
    margin-left: 7em;
    margin-bottom: 3em;
  }

  .header-text {
    font-size: 20px;
    width: 510px;
    margin-top: -2em;
  }

  .info {
    flex-wrap: nowrap;
    padding: 3em 5em;
    gap: 2em;
  }
  .team-grid {
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;
    gap: 1em;
  }

  .timeglas-deko {
    display: block;
    width: 130px;
    height: auto;
    margin-bottom: 5em;
    align-self: center;
  }
  .timeglas-venstre-mobil,
  .timeglas-højre-mobil {
    display: none;
  }
  .billede-row {
    justify-content: center;
  }

  .team-member {
    flex: 1;
    max-width: 280px;
  }

  .portræt {
    width: 100%;
    max-width: 250px;
  }
  .info-1 {
    line-height: 24px;
    width: 650px;
  }
  .info-2 {
    line-height: 24px;
    width: 650px;
    justify-self: center;
  }
  .info-3 {
    line-height: 24px;
    width: 550px;
    justify-self: end;
  }
}
