---
const { title = "Vi er også på sociale medier", subtitle = "Følg os følg med" } = Astro.props;
---

<section class="socials">
  <div class="socials-inner">
    <div class="socials-logo">
      <svg width="320" height="330" viewBox="0 0 320 330" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M167.655 73.9243C172.909 93.5301 170.158 114.42 160.01 131.998C149.861 149.576 133.145 162.402 113.539 167.656C93.9335 172.909 73.0439 170.159 55.4658 160.01C37.8877 149.862 25.0612 133.146 19.8078 113.54L93.7315 93.7321L167.655 73.9243Z"
          fill="#C0DAE0"></path>
        <path
          d="M58.8608 256.256C53.6344 236.751 56.3704 215.969 66.4671 198.481C76.5638 180.993 93.1939 168.232 112.699 163.006C132.204 157.779 152.987 160.515 170.475 170.612C187.963 180.709 200.724 197.339 205.95 216.844L132.405 236.55L58.8608 256.256Z"
          fill="#C0DAE0"></path>
        <path
          d="M152 114.5C152 119.767 153.4 123.133 156.2 124.6C157.533 125.267 159.233 125.6 161.3 125.6C165.5 125.6 169.233 124 172.5 120.8C175.833 117.6 177.633 114.633 177.9 111.9V76H184.9V118.9C184.9 120.833 185.267 122.333 186 123.4C186.8 124.4 187.6 124.933 188.4 125L189.5 125.2H192.6V126H186.5C183.767 126 181.667 125.4 180.2 124.2C178.8 123 178.067 121.8 178 120.6L177.9 118.9V114.6C176.7 117.467 174.567 120.167 171.5 122.7C168.433 125.167 165.067 126.4 161.4 126.4C157.8 126.4 154.833 126.067 152.5 125.4C150.233 124.667 148.6 123.667 147.6 122.4C145.867 120.333 145 117.667 145 114.4V76H152V114.5ZM194.109 102.8C194.109 94.1333 196.209 87.4333 200.409 82.7C204.609 77.9667 210.909 75.6 219.309 75.6C225.509 75.6 231.809 76.7 238.209 78.9V127.2C238.143 143.067 231.209 151 217.409 151C209.809 151 203.309 148.533 197.909 143.6L198.609 143C204.343 147.8 210.609 150.2 217.409 150.2C226.609 150.2 231.209 142.533 231.209 127.2V117.3C229.943 119.633 227.843 121.7 224.909 123.5C221.976 125.3 218.509 126.2 214.509 126.2C200.909 125.867 194.109 118.067 194.109 102.8ZM214.609 125.4C219.076 125.4 222.909 124.2 226.109 121.8C229.309 119.4 231.009 117.033 231.209 114.7V79.4C226.409 77.4 222.343 76.4 219.009 76.4C213.076 76.4 208.609 78.7333 205.609 83.4C202.609 88 201.109 94.4667 201.109 102.8C201.109 117.867 205.609 125.4 214.609 125.4ZM252.484 101.6C252.484 109.867 253.917 115.933 256.784 119.8C259.717 123.667 263.55 125.6 268.284 125.6C274.95 125.6 280.884 124.6 286.084 122.6L286.384 123.3C281.05 125.367 275.017 126.4 268.284 126.4C261.617 126.4 256.184 124.4 251.984 120.4C247.784 116.4 245.684 110.233 245.684 101.9C245.684 93.5667 247.884 87.1 252.284 82.5C256.684 77.9 262.284 75.6 269.084 75.6C274.55 75.6 279.15 77.2333 282.884 80.5C286.617 83.7667 288.484 88.6 288.484 95C288.484 95.3333 288.484 95.6667 288.484 96H252.784C252.584 97.8 252.484 99.6667 252.484 101.6ZM281.684 95.2C281.617 88.8 280.384 84.0667 277.984 81C275.584 77.9333 272.484 76.4 268.684 76.4C264.884 76.4 261.484 78.0667 258.484 81.4C255.55 84.7333 253.684 89.3333 252.884 95.2H281.684Z"
          fill="black"></path>
        <path
          d="M118.801 216.066L184.367 149.562H192.102L167.902 216.066H181.613L180.734 218.41H167.082L157.824 243.898H148.391L157.59 218.41H119.68L118.801 216.066ZM158.41 216.066L179.211 158.586L121.965 216.066H158.41ZM200.532 216.066L266.098 149.562H273.833L249.634 216.066H263.345L262.466 218.41H248.813L239.555 243.898H230.122L239.321 218.41H201.411L200.532 216.066ZM240.141 216.066L260.942 158.586L203.696 216.066H240.141Z"
          fill="black"></path>
      </svg>
    </div>

    <h2>{title}</h2>
    <h3>{subtitle}</h3>

    <div class="social-icons">
      <a href="https://www.instagram.com/uge_44/" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
        <svg width="87" height="87" viewBox="0 0 87 87" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M43.5 7.25C33.6545 7.25 32.422 7.2935 28.5541 7.4675C24.6971 7.64512 22.0617 8.25775 19.7562 9.15313C17.3365 10.0623 15.1443 11.4887 13.3327 13.3327C11.4887 15.1443 10.0623 17.3365 9.15313 19.7562C8.25775 22.0617 7.64512 24.6971 7.4675 28.5541C7.28987 32.422 7.25 33.6545 7.25 43.5C7.25 53.3455 7.28987 54.578 7.4675 58.4459C7.64512 62.3029 8.25775 64.9382 9.15313 67.2437C10.0623 69.6635 11.4887 71.8557 13.3327 73.6673C15.1443 75.5113 17.3365 76.9377 19.7562 77.8469C22.0617 78.7422 24.6971 79.3549 28.5541 79.5325C32.422 79.7065 33.6545 79.75 43.5 79.75C53.3455 79.75 54.578 79.7065 58.4459 79.5325C62.3029 79.3549 64.9382 78.7422 67.2437 77.8469C69.6635 76.9377 71.8557 75.5113 73.6673 73.6673C75.5113 71.8557 76.9377 69.6635 77.8469 67.2437C78.7422 64.9382 79.3549 62.3029 79.5325 58.4459C79.7065 54.578 79.75 53.3455 79.75 43.5C79.75 33.6545 79.7065 32.422 79.5325 28.5541C79.3549 24.6971 78.7422 22.0617 77.8469 19.7562C76.9377 17.3365 75.5113 15.1443 73.6673 13.3327C71.8557 11.4887 69.6635 10.0623 67.2437 9.15313C64.9382 8.25775 62.3029 7.64512 58.4459 7.4675C54.578 7.2935 53.3455 7.25 43.5 7.25ZM43.5 13.7823C53.1787 13.7823 54.3243 13.8185 58.145 13.9925C61.683 14.1556 63.6006 14.7429 64.8803 15.2395C66.5695 15.8993 67.7803 16.6859 69.049 17.951C70.3178 19.2198 71.1007 20.4305 71.7605 22.1198C72.2535 23.3994 72.848 25.317 73.0075 28.8514C73.1815 32.6758 73.2178 33.8176 73.2178 43.5C73.2178 53.1787 73.1815 54.3243 73.0075 58.145C72.8444 61.683 72.2535 63.6006 71.7605 64.8803C71.1793 66.4549 70.2528 67.8794 69.049 69.049C67.7803 70.3178 66.5695 71.1007 64.8803 71.7605C63.6006 72.2535 61.683 72.848 58.1486 73.0075C54.3279 73.1815 53.1824 73.2178 43.5 73.2178C33.8212 73.2178 32.6721 73.1815 28.855 73.0075C25.317 72.8444 23.3994 72.2535 22.1198 71.7605C20.5451 71.1793 19.1206 70.2528 17.951 69.049C16.7472 67.8794 15.8207 66.4549 15.2395 64.8803C14.7429 63.6006 14.152 61.683 13.9925 58.1486C13.8185 54.3243 13.7823 53.1824 13.7823 43.5C13.7823 33.8212 13.8185 32.6758 13.9925 28.855C14.1556 25.317 14.7429 23.3994 15.2395 22.1198C15.8993 20.4305 16.6859 19.2198 17.951 17.951C19.2198 16.6823 20.4305 15.8993 22.1198 15.2395C23.3994 14.7429 25.317 14.152 28.8514 13.9925C32.6758 13.8185 33.8176 13.7823 43.5 13.7823ZM43.5 55.5821C40.2956 55.5821 37.2225 54.3092 34.9566 52.0434C32.6908 49.7775 31.4179 46.7044 31.4179 43.5C31.4179 40.2956 32.6908 37.2225 34.9566 34.9566C37.2225 32.6908 40.2956 31.4179 43.5 31.4179C46.7044 31.4179 49.7775 32.6908 52.0434 34.9566C54.3092 37.2225 55.5821 40.2956 55.5821 43.5C55.5821 46.7044 54.3092 49.7775 52.0434 52.0434C49.7775 54.3092 46.7044 55.5821 43.5 55.5821ZM43.5 24.8856C41.0555 24.8856 38.635 25.3671 36.3766 26.3026C34.1182 27.238 32.0662 28.6091 30.3376 30.3377C28.6091 32.0662 27.238 34.1182 26.3026 36.3766C25.3671 38.635 24.8856 41.0555 24.8856 43.5C24.8856 45.9445 25.3671 48.365 26.3026 50.6234C27.238 52.8818 28.6091 54.9338 30.3376 56.6623C32.0662 58.3909 34.1182 59.762 36.3766 60.6974C38.635 61.6329 41.0555 62.1144 43.5 62.1144C48.4368 62.1144 53.1715 60.1532 56.6623 56.6623C60.1532 53.1715 62.1144 48.4368 62.1144 43.5C62.1144 38.5632 60.1532 33.8285 56.6623 30.3377C53.1715 26.8468 48.4368 24.8856 43.5 24.8856ZM67.2002 24.1497C67.2002 24.721 67.0877 25.2867 66.8691 25.8144C66.6505 26.3422 66.3301 26.8217 65.9262 27.2257C65.5222 27.6296 65.0427 27.95 64.5149 28.1686C63.9872 28.3872 63.4215 28.4998 62.8502 28.4998C62.279 28.4998 61.7133 28.3872 61.1856 28.1686C60.6578 27.95 60.1783 27.6296 59.7743 27.2257C59.3704 26.8217 59.05 26.3422 58.8314 25.8144C58.6128 25.2867 58.5003 24.721 58.5003 24.1497C58.5003 22.9961 58.9585 21.8896 59.7743 21.0738C60.5901 20.2581 61.6966 19.7997 62.8502 19.7997C64.0039 19.7997 65.1104 20.2581 65.9262 21.0738C66.7419 21.8896 67.2002 22.9961 67.2002 24.1497Z"
            fill="black"></path>
        </svg>
      </a>

      <a href="https://www.facebook.com/profile.php?id=61587160924694" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
        <svg width="87" height="87" viewBox="0 0 87 87" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M79.75 43.5C79.75 23.49 63.51 7.25 43.5 7.25C23.49 7.25 7.25 23.49 7.25 43.5C7.25 61.045 19.72 75.6537 36.25 79.025V54.375H29V43.5H36.25V34.4375C36.25 27.4412 41.9412 21.75 48.9375 21.75H58V32.625H50.75C48.7562 32.625 47.125 34.2562 47.125 36.25V43.5H58V54.375H47.125V79.5687C65.4313 77.7562 79.75 62.3137 79.75 43.5Z"
            fill="black"></path>
        </svg>
      </a>

      <a href="https://tiktok.com" aria-label="TikTok" target="_blank" rel="noopener noreferrer">
        <svg width="87" height="87" viewBox="0 0 87 87" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M43.5 7.25C33.6545 7.25 32.422 7.2935 28.5541 7.4675C24.6971 7.64512 22.0617 8.25775 19.7562 9.15313C17.3365 10.0623 15.1443 11.4887 13.3327 13.3327C11.4887 15.1443 10.0623 17.3365 9.15313 19.7562C8.25775 22.0617 7.64512 24.6971 7.4675 28.5541C7.28987 32.422 7.25 33.6545 7.25 43.5C7.25 53.3455 7.28987 54.578 7.4675 58.4459C7.64512 62.3029 8.25775 64.9382 9.15313 67.2437C10.0623 69.6635 11.4887 71.8557 13.3327 73.6673C15.1443 75.5113 17.3365 76.9377 19.7562 77.8469C22.0617 78.7422 24.6971 79.3549 28.5541 79.5325C32.422 79.7065 33.6545 79.75 43.5 79.75C53.3455 79.75 54.578 79.7065 58.4459 79.5325C62.3029 79.3549 64.9382 78.7422 67.2437 77.8469C69.6635 76.9377 71.8557 75.5113 73.6673 73.6673C75.5113 71.8557 76.9377 69.6635 77.8469 67.2437C78.7422 64.9382 79.3549 62.3029 79.5325 58.4459C79.7065 54.578 79.75 53.3455 79.75 43.5C79.75 33.6545 79.7065 32.422 79.5325 28.5541C79.3549 24.6971 78.7422 22.0617 77.8469 19.7562C76.9377 17.3365 75.5113 15.1443 73.6673 13.3327C71.8557 11.4887 69.6635 10.0623 67.2437 9.15313C64.9382 8.25775 62.3029 7.64512 58.4459 7.4675C54.578 7.2935 53.3455 7.25 43.5 7.25ZM43.5 13.7823C53.1787 13.7823 54.3243 13.8185 58.145 13.9925C61.683 14.1556 63.6006 14.7429 64.8803 15.2395C66.5695 15.8993 67.7803 16.6859 69.049 17.951C70.3178 19.2198 71.1007 20.4305 71.7605 22.1198C72.2535 23.3994 72.848 25.317 73.0075 28.8514C73.1815 32.6758 73.2178 33.8176 73.2178 43.5C73.2178 53.1787 73.1815 54.3243 73.0075 58.145C72.8444 61.683 72.2535 63.6006 71.7605 64.8803C71.1793 66.4549 70.2528 67.8794 69.049 69.049C67.7803 70.3178 66.5695 71.1007 64.8803 71.7605C63.6006 72.2535 61.683 72.848 58.1486 73.0075C54.3279 73.1815 53.1824 73.2178 43.5 73.2178C33.8212 73.2178 32.6721 73.1815 28.855 73.0075C25.317 72.8444 23.3994 72.2535 22.1198 71.7605C20.5451 71.1793 19.1206 70.2528 17.951 69.049C16.7472 67.8794 15.8207 66.4549 15.2395 64.8803C14.7429 63.6006 14.152 61.683 13.9925 58.1486C13.8185 54.3243 13.7823 53.1824 13.7823 43.5C13.7823 33.8212 13.8185 32.6758 13.9925 28.855C14.1556 25.317 14.7429 23.3994 15.2395 22.1198C15.8993 20.4305 16.6859 19.2198 17.951 17.951C19.2198 16.6823 20.4305 15.8993 22.1198 15.2395C23.3994 14.7429 25.317 14.152 28.8514 13.9925C32.6758 13.8185 33.8176 13.7823 43.5 13.7823ZM43.5 55.5821C40.2956 55.5821 37.2225 54.3092 34.9566 52.0434C32.6908 49.7775 31.4179 46.7044 31.4179 43.5C31.4179 40.2956 32.6908 37.2225 34.9566 34.9566C37.2225 32.6908 40.2956 31.4179 43.5 31.4179C46.7044 31.4179 49.7775 32.6908 52.0434 34.9566C54.3092 37.2225 55.5821 40.2956 55.5821 43.5C55.5821 46.7044 54.3092 49.7775 52.0434 52.0434C49.7775 54.3092 46.7044 55.5821 43.5 55.5821ZM43.5 24.8856C41.0555 24.8856 38.635 25.3671 36.3766 26.3026C34.1182 27.238 32.0662 28.6091 30.3376 30.3377C28.6091 32.0662 27.238 34.1182 26.3026 36.3766C25.3671 38.635 24.8856 41.0555 24.8856 43.5C24.8856 45.9445 25.3671 48.365 26.3026 50.6234C27.238 52.8818 28.6091 54.9338 30.3376 56.6623C32.0662 58.3909 34.1182 59.762 36.3766 60.6974C38.635 61.6329 41.0555 62.1144 43.5 62.1144C48.4368 62.1144 53.1715 60.1532 56.6623 56.6623C60.1532 53.1715 62.1144 48.4368 62.1144 43.5C62.1144 38.5632 60.1532 33.8285 56.6623 30.3377C53.1715 26.8468 48.4368 24.8856 43.5 24.8856ZM67.2002 24.1497C67.2002 24.721 67.0877 25.2867 66.8691 25.8144C66.6505 26.3422 66.3301 26.8217 65.9262 27.2257C65.5222 27.6296 65.0427 27.95 64.5149 28.1686C63.9872 28.3872 63.4215 28.4998 62.8502 28.4998C62.279 28.4998 61.7133 28.3872 61.1856 28.1686C60.6578 27.95 60.1783 27.6296 59.7743 27.2257C59.3704 26.8217 59.05 26.3422 58.8314 25.8144C58.6128 25.2867 58.5003 24.721 58.5003 24.1497C58.5003 22.9961 58.9585 21.8896 59.7743 21.0738C60.5901 20.2581 61.6966 19.7997 62.8502 19.7997C64.0039 19.7997 65.1104 20.2581 65.9262 21.0738C66.7419 21.8896 67.2002 22.9961 67.2002 24.1497Z"
            fill="black"></path>
        </svg>
      </a>
    </div>
  </div>
</section>

<style>
  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #ebfbff;
    border-top: 1px solid #977851;
    border-bottom: 2px solid #977851;

    padding: 4.5rem 1.5rem;
  }

  .socials-inner {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  .socials h2 {
    font-family: "Arial", serif;
    font-size: clamp(2.2rem, 5vw, 4rem);
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1rem;
    color: #111;
  }

  .socials h3 {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    color: #111;
    margin-bottom: 1.8rem;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }

  .social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .social-icons img {
    width: 42px;
    height: 42px;
    object-fit: contain;
    display: block;
  }

  @media screen and (min-width: 900px) {
    .socials h2 {
      font-size: 2.5rem;
    }

    .socials h3 {
      font-size: 1.5rem;
    }

    .signup-form {
      max-width: 100%;
    }
    .newsletter-logo {
      width: 700px;
      margin: 0 auto 1.5rem;
      display: block;
    }
  }
</style>
