<footer class="footer-section">
  <div class="footer-flex">
    <div class="footer-1">
      <h3>Landsforeningen Liv&Død</h3>
      <p>Bispebjerg Torv 16 st. TV</p>
      <p>2400 København NV</p>
      <p>33 36 49 70</p>
      <a href="mailto:info@livogdoed.dk"> Info@livogdoed.dk </a>
      <p>CVR: 25441397 (Landsforeningen Liv&Død - Dansk Ligbrændingsforening)</p>
    </div>
    <!-- <div class="footer-logo"> -->
      <img class="footerlogo" src="/public/pictures/uge44(footerlogo).png" />
      <!-- <svg width="320" height="330" viewBox="0 0 320 330" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M167.655 73.9243C172.909 93.5301 170.158 114.42 160.01 131.998C149.861 149.576 133.145 162.402 113.539 167.656C93.9335 172.909 73.0439 170.159 55.4658 160.01C37.8877 149.862 25.0612 133.146 19.8078 113.54L93.7315 93.7321L167.655 73.9243Z"
          fill="#C0DAE0"></path>
        <path
          d="M58.8608 256.256C53.6344 236.751 56.3704 215.969 66.4671 198.481C76.5638 180.993 93.1939 168.232 112.699 163.006C132.204 157.779 152.987 160.515 170.475 170.612C187.963 180.709 200.724 197.339 205.95 216.844L132.405 236.55L58.8608 256.256Z"
          fill="#C0DAE0"></path>
        <path
          d="M152 114.5C152 119.767 153.4 123.133 156.2 124.6C157.533 125.267 159.233 125.6 161.3 125.6C165.5 125.6 169.233 124 172.5 120.8C175.833 117.6 177.633 114.633 177.9 111.9V76H184.9V118.9C184.9 120.833 185.267 122.333 186 123.4C186.8 124.4 187.6 124.933 188.4 125L189.5 125.2H192.6V126H186.5C183.767 126 181.667 125.4 180.2 124.2C178.8 123 178.067 121.8 178 120.6L177.9 118.9V114.6C176.7 117.467 174.567 120.167 171.5 122.7C168.433 125.167 165.067 126.4 161.4 126.4C157.8 126.4 154.833 126.067 152.5 125.4C150.233 124.667 148.6 123.667 147.6 122.4C145.867 120.333 145 117.667 145 114.4V76H152V114.5ZM194.109 102.8C194.109 94.1333 196.209 87.4333 200.409 82.7C204.609 77.9667 210.909 75.6 219.309 75.6C225.509 75.6 231.809 76.7 238.209 78.9V127.2C238.143 143.067 231.209 151 217.409 151C209.809 151 203.309 148.533 197.909 143.6L198.609 143C204.343 147.8 210.609 150.2 217.409 150.2C226.609 150.2 231.209 142.533 231.209 127.2V117.3C229.943 119.633 227.843 121.7 224.909 123.5C221.976 125.3 218.509 126.2 214.509 126.2C200.909 125.867 194.109 118.067 194.109 102.8ZM214.609 125.4C219.076 125.4 222.909 124.2 226.109 121.8C229.309 119.4 231.009 117.033 231.209 114.7V79.4C226.409 77.4 222.343 76.4 219.009 76.4C213.076 76.4 208.609 78.7333 205.609 83.4C202.609 88 201.109 94.4667 201.109 102.8C201.109 117.867 205.609 125.4 214.609 125.4ZM252.484 101.6C252.484 109.867 253.917 115.933 256.784 119.8C259.717 123.667 263.55 125.6 268.284 125.6C274.95 125.6 280.884 124.6 286.084 122.6L286.384 123.3C281.05 125.367 275.017 126.4 268.284 126.4C261.617 126.4 256.184 124.4 251.984 120.4C247.784 116.4 245.684 110.233 245.684 101.9C245.684 93.5667 247.884 87.1 252.284 82.5C256.684 77.9 262.284 75.6 269.084 75.6C274.55 75.6 279.15 77.2333 282.884 80.5C286.617 83.7667 288.484 88.6 288.484 95C288.484 95.3333 288.484 95.6667 288.484 96H252.784C252.584 97.8 252.484 99.6667 252.484 101.6ZM281.684 95.2C281.617 88.8 280.384 84.0667 277.984 81C275.584 77.9333 272.484 76.4 268.684 76.4C264.884 76.4 261.484 78.0667 258.484 81.4C255.55 84.7333 253.684 89.3333 252.884 95.2H281.684Z"
          fill="black"></path>
        <path
          d="M118.801 216.066L184.367 149.562H192.102L167.902 216.066H181.613L180.734 218.41H167.082L157.824 243.898H148.391L157.59 218.41H119.68L118.801 216.066ZM158.41 216.066L179.211 158.586L121.965 216.066H158.41ZM200.532 216.066L266.098 149.562H273.833L249.634 216.066H263.345L262.466 218.41H248.813L239.555 243.898H230.122L239.321 218.41H201.411L200.532 216.066ZM240.141 216.066L260.942 158.586L203.696 216.066H240.141Z"
          fill="black"></path>
      </svg> -->
    <!-- </div> -->
    <div class="footer-2">
      <h3>Udvalgte Genveje</h3>
      <ul><a href="index.astro">Forside</a></ul>
      <ul><a href="kalender.astro">Kalender</a></ul>
      <ul><a href="aboutus.astro">Om os</a></ul>
      <ul><a href="statistics>">Statistik</a></ul>
    </div>
  </div>
</footer>

<style>
  a {
    position: relative;
  }
  a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;          
  height: 1.5px;
  background-color: #977851;
  transition: 0.3s ease;
  }
  a:hover::after {
  width: 100%;
}
  .footer-section {
    width: auto;
    height: :auto;
    background-color: #fffdf8;
    line-height: 24px;
  }
  .footer-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
  }

  .footer-1 {

    justify-self: start;
    color: #977851;
  }
  .footer-1 a {
    color: #977851;
  }
  .footer-1 p,
  a {
    line-height: 15px;
  }


  .footerlogo {
    width: 70%;
    justify-self: center;
  }

  .footer-2 {
   
    justify-self: end;
    text-align: right;
    text-decoration: none;
    color: #977851;
    
  }
  .footer-2 a {
    text-decoration: none;
    color: #977851;
  }
  .footer-2 ul {
    line-height: 12px;
  }
  @media (min-width: 1024px) {
    .footerlogo{
      width: 60%;
      justify-self: center;
    }

  }
</style>
