---
const { pathname } = Astro.url;

const navLinks = [
  { title: "Forside", href: "/" },
  { title: "Kalender", href: "/kalender" },
  { title: "Statistik", href: "/statistic" },
  { title: "Om os", href: "/aboutus" },
];
---

<header>
  <div class="logo">
    <a href="/">
      <svg width="87" height="77" viewBox="0 0 87 77" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M3.99993 61.0026C3.99993 56.7598 5.58749 52.6908 8.41336 49.6907C11.2392 46.6906 15.0719 45.0052 19.0683 45.0052C23.0647 45.0052 26.8974 46.6906 29.7233 49.6907C32.5492 52.6908 34.1367 56.7598 34.1367 61.0026L19.0683 61.0026H3.99993Z"
          fill="#C0DAE0"></path>
        <path
          d="M34.1368 29.9974C34.1368 34.2402 32.5492 38.3092 29.7234 41.3093C26.8975 44.3094 23.0648 45.9948 19.0684 45.9948C15.072 45.9948 11.2393 44.3094 8.41343 41.3093C5.58756 38.3092 4 34.2402 4 29.9974L19.0684 29.9974H34.1368Z"
          fill="#C0DAE0"></path>
        <path
          d="M13.608 27.18C11.568 27.18 9.852 26.832 8.46 26.136C7.068 25.416 5.952 24.456 5.112 23.256C4.272 22.032 3.66 20.652 3.276 19.116C2.892 17.58 2.7 15.996 2.7 14.364V1.44H5.94V14.364C5.94 15.612 6.06 16.836 6.3 18.036C6.564 19.212 6.984 20.268 7.56 21.204C8.136 22.14 8.916 22.884 9.9 23.436C10.884 23.988 12.108 24.264 13.572 24.264C15.06 24.264 16.296 23.988 17.28 23.436C18.264 22.86 19.044 22.104 19.62 21.168C20.196 20.208 20.604 19.14 20.844 17.964C21.108 16.788 21.24 15.588 21.24 14.364V1.44H24.48V14.364C24.48 16.092 24.276 17.736 23.868 19.296C23.484 20.832 22.86 22.188 21.996 23.364C21.132 24.54 20.004 25.476 18.612 26.172C17.244 26.844 15.576 27.18 13.608 27.18ZM40.4958 27.18C38.8158 27.18 37.2438 26.82 35.7798 26.1C34.3398 25.356 33.0798 24.372 31.9998 23.148C30.9198 21.9 30.0798 20.508 29.4798 18.972C28.8798 17.412 28.5798 15.804 28.5798 14.148C28.5798 12.42 28.8798 10.788 29.4798 9.252C30.0798 7.692 30.9078 6.312 31.9638 5.112C33.0438 3.912 34.3038 2.976 35.7438 2.304C37.2078 1.608 38.7918 1.26 40.4958 1.26C42.9678 1.26 45.0078 1.776 46.6158 2.808C48.2238 3.84 49.4358 5.184 50.2518 6.84L47.7678 8.568C47.0238 7.08 46.0038 5.976 44.7078 5.256C43.4118 4.536 41.9838 4.176 40.4238 4.176C39.1278 4.176 37.9518 4.452 36.8958 5.004C35.8398 5.556 34.9278 6.312 34.1598 7.272C33.4158 8.208 32.8398 9.276 32.4318 10.476C32.0478 11.676 31.8558 12.924 31.8558 14.22C31.8558 15.588 32.0718 16.884 32.5038 18.108C32.9598 19.308 33.5958 20.376 34.4118 21.312C35.2278 22.224 36.1758 22.944 37.2558 23.472C38.3358 24 39.4998 24.264 40.7478 24.264C42.2118 24.264 43.6038 23.892 44.9238 23.148C46.2438 22.404 47.4918 21.264 48.6678 19.728V23.076C46.3638 25.812 43.6398 27.18 40.4958 27.18ZM48.2718 16.704H42.7638V14.256H51.0078V27H48.2718V16.704ZM73.287 24.12V27H55.935V1.44H72.963V4.32H59.175V12.6H71.163V15.3H59.175V24.12H73.287ZM48.8419 59.572V53.488H37.2859V50.68L49.8499 34.444H52.0099V50.608H55.1779V53.488H52.0099V59.572H48.8419ZM40.5619 50.608H49.1659V39.34L40.5619 50.608ZM68.9161 59.572V53.488H57.3601V50.68L69.9241 34.444H72.0841V50.608H75.2521V53.488H72.0841V59.572H68.9161ZM60.6361 50.608H69.2401V39.34L60.6361 50.608Z"
          fill="black"></path>
      </svg>
    </a>
  </div>

  <nav id="nav">
    <ul class="menu">
      {
        navLinks.map((link) => (
          <li>
            <a href={link.href} class={pathname === link.href ? "active" : ""}>
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>

    <button class="burger" id="burger" aria-label="Open menu">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
  </nav>
</header>

<script>
  const burger = document.querySelector("#burger");
  const nav = document.querySelector("#nav");
  const links = document.querySelectorAll(".menu a");

  burger?.addEventListener("click", () => {
    burger.classList.toggle("active");
    nav?.classList.toggle("active");
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      burger?.classList.remove("active");
      nav?.classList.remove("active");
    });
  });
</script>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #977851;
    z-index: 10;
  }

  .logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  nav {
    display: flex;
    align-items: center;
    position: relative;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: #977851;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
    font-size: 1.6em;
  }

  .menu a:hover {
    color: #000;
  }

  .menu a.active {
    color: #95abb0;
  }

  .burger {
    display: none;
    width: 30px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
  }

  .burger .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333333;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }

  .burger .line:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 800px) {
    .menu {
      display: none;
    }

    .burger {
      display: block;
    }

    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }

    nav.active .menu {
      display: block;
      background-color: #ffffff;
      position: absolute;
      top: 60px;
      right: 0;
      width: 220px;
      border-bottom: 1px solid #000;
      z-index: 1;
      padding: 10px 0;
    }

    nav.active .menu li {
      margin: 0;
    }

    nav.active .menu a {
      font-size: 24px;
      padding: 15px 20px;
      text-align: left;
    }
  }
</style>
